<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="kungfu" class="com.spring.common.beans.byautodetect.KungFu">
		<property name="name" value="Shao lin" />
	</bean>
	
	<bean id="panda" class="com.spring.common.beans.byautodetect.Panda"
		autowire="constructor">
	</bean>
</beans>
